.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e7d32;
  color: white;
  padding: 0.8rem 1.5rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 0.8rem;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Highlight active route */
.navbar a.active {
  border-bottom: 2px solid #fff;
  font-weight: bold;
  text-decoration: none;
}
