frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/
backend/target/
backend/.idea/
backend/.classpath
backend/.project
backend/.settings/
backend/.metadata/
*.iml
*.log
.DS_Store
.vscode/
*.zip
frontend/.git
